##################
### TEMP FILES ###
##################

**/*.rs.bk
*.pdb
**/mutants.out*/
**/.temp/

*[T|t]odo*.txt

########################
### IGNORE DIRECTORY ###
########################

# IntelliJ, RustRover
/.idea/

# Obsidian
/.obsidian/

###############
### TARGETS ###
###############

**/target/

#################
### DOCUMENTS ###
#################

# JustEnoughVCS Docs
/docs/Documents

##########################
### BUILT-IN DOCUMENTS ###
##########################
/src/data/compile_info.rs
/docs/src/docs.rs
