##################
### TEMP FILES ###
##################

**/*.rs.bk
*.pdb
**/mutants.out*/
**/.temp/

########################
### IGNORE DIRECTORY ###
########################

# IntelliJ, RustRover
/.idea/

# Obsidian
/.obsidian/

###############
### TARGETS ###
###############

**/target/

#################
### DOCUMENTS ###
#################

# JustEnoughVCS Docs
/docs/Documents

##########################
### BUILT-IN DOCUMENTS ###
##########################
/src/data/compile_info.rs
/crates/vcs_docs/src/docs.rs
